/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @layer utilities {

  background-image: lin;
} */

.hero_animation {
  /* background-image: linear-gradient(147.92,rgb(239,76%,53%,0.456) 10.41%); */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    152deg,
    rgba(2, 0, 36, 1) 16%,
    rgb(3, 3, 86) 66%,
    rgba(0, 0, 0) 100%
  );
  animation: changebgcolor 8s infinite alternate;
}

@keyframes changebgcolor {
  0%,
  100% {
    opacity: 1;
  }
  16.67% {
    opacity: 0.9;
  }
  33.33% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.6;
  }
  66.67% {
    opacity: 0.5;
  }
  83.33% {
    opacity: 0.4;
  }
}
