.progress {
  width: 70.2px;
  height: 96px;
  -webkit-mask: linear-gradient(90deg, #000 70%, #0000 0) 0% 100% / 20% 20%,
    linear-gradient(90deg, #000 70%, #0000 0) 25% 100% / 20% 40%,
    linear-gradient(90deg, #000 70%, #0000 0) 50% 100% / 20% 60%,
    linear-gradient(90deg, #000 70%, #0000 0) 75% 100% / 20% 80%,
    linear-gradient(90deg, #000 70%, #0000 0) 100% 100% / 20% 100%;
  -webkit-mask-repeat: no-repeat;
  background: linear-gradient(rgba(206, 42, 75, 0.96) 0 0) left/0% 100%
    no-repeat #dbdcef;
  animation: progress-0beb2c 2s infinite steps(6);
}

@keyframes progress-0beb2c {
  100% {
    background-size: 120% 100%;
  }
}

.pulse {
  width: 22.4px;
  height: 22.4px;
  border-radius: 50%;
  background: rgba(206, 42, 75, 0.96);
  box-shadow: 0 0 0 0 rgba(206, 42, 75, 0.5);
  animation: pulse-c6zlskmd 1s infinite;
}

@keyframes pulse-c6zlskmd {
  100% {
    box-shadow: 0 0 0 60.6px #0000;
  }
}
